body{
	color: #f1f1f1;
	background-image: radial-gradient(circle, #488be0, #4b8ee1, #4d91e2, #5094e3, #5397e4);
}
.container{
	height: 100vh;
}
.root{
	background: rgba( 255, 255, 255, 0.10 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	height: 450px;
	width: 350px;
	overflow: hidden;
}
header{
	font-size: 30px;
	letter-spacing: -1.5px;
	word-spacing: 2px;
	text-shadow: 8px 8px 15px rgba(73,118,209,1);
}
.test{
	width: 250px;
	height: 150px;
	background-color: #5B99E3;
	box-shadow: 7px 7px 17px 5px rgba(73,118,199,0.83);
	border-radius: 8px;
	border: 1px solid #5B89e3;
	position: relative;
}
.center{
	height: 80%;
}
select{
	position: relative;
	width: 100%;
	font-size: 19px;
	height: 40px;
	margin-top: 8px;
	margin-bottom: 8px;
	color: white !important;
	background: rgba( 255, 255, 255, 0.10 );
	/*box-shadow: 0 0px 5px 0px rgba( 31, 38, 135, 0.37 );	*/
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
select option{
	font-size: 17px;
}
.swap{
	background-color: #f1f1f1;
	box-shadow: 0 0px 5px 1px rgba( 31, 38, 135, 0.37 );	
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.swap:hover{
	background-color: #fff;
}
.output, .output_1, .output_2 {
	font-weight: bold;
}
.input{
	color: #74ACFA;
	text-align: center;
	width: 80px;
	height: 40px;
	background-color: #f1f1f1;
	transition-duration: .3s;
	border:none;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 0 0px 5px 1px rgba( 31, 38, 135, 0.37 );
}
.input:hover, .input:focus{
	background-color: #fff;
}
.output_2, .output_1{
	background-color: rgba(255,255,255,0.10);
	width: 100%;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border:1px solid rgba(255,255,255,0.18);
}
.output{
	position:absolute;
	top: 110%;
	font-size: 21px;
	text-shadow: 8px 8px 15px rgba(73,118,209,1);
	white-space: nowrap;
}
select option{
	background-color: #4C8FE1;
	color: #fff;
}
.input[placeholder]{
	color: #79C0FB;
}
/*@media only screen and (max-width: 576px){
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	.root{
		width: 100%;
		height: 100%;
	}
}*/